* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  line-height: 140%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}
/*
  this is seting the text size
*/

html {
  font-size: 60.5%;
}

/* 
  this is changing the background color to an off orgen, changs the text size,
  it changes the space between the text of the lines this is the text disines.
*/

body {
  font-size: 1.6rem;
  background-color: #faf4ef;
  line-height: 200%;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/*
  this is changing the h1 the font-size to make it bigger and the color of the text
  also putting space Between the webpage and text
*/
header {
  position: relative;
  background-color: #1a2d66;
}

header h1 {
  font-size: 45px;
  color: #f1f1f1;
  padding: 20px;
}

nav {
  position: absolute;
  top: 50%;
  right: 2.5%;

  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  width: 75% - 10%;
}
nav ul {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
nav li {
  display: inline-block;
  list-style: none;
  margin: 10px;
  font-size: 20px;
}

nav a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  -webkit-transition: 500ms linear;
  -o-transition: 500ms linear;
  -moz-transition: 500ms linear;
  transition: 500ms linear;

  text-decoration: none;
  margin: 4px;
  padding: 20px;
  font-size: 23px;
  padding: 13px;

  /* Code below sourced from https://www.kirupa.com/html5/sliding_background_effect_on_link_hover.htm */
  --initialTextColor: #f1e5e5;
  --slideTextColor: #1a2d66;

  --initialBgColor: #1a2d66;
  --slideBgColor: #f1e5e5;

  color: var(--initialTextColor);

  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--initialBgColor)),
    color-stop(50%, var(--initialBgColor)),
    color-stop(50%, var(--slideBgColor)),
    to(var(--slideBgColor))
  );

  background-image: -webkit-linear-gradient(
    left,
    var(--initialBgColor) 0%,
    var(--initialBgColor) 50%,
    var(--slideBgColor) 50%,
    var(--slideBgColor) 100%
  );

  background-image: -moz-linear-gradient(
    left,
    var(--initialBgColor) 0%,
    var(--initialBgColor) 50%,
    var(--slideBgColor) 50%,
    var(--slideBgColor) 100%
  );

  background-image: -o-linear-gradient(
    left,
    var(--initialBgColor) 0%,
    var(--initialBgColor) 50%,
    var(--slideBgColor) 50%,
    var(--slideBgColor) 100%
  );

  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--initialBgColor)),
    color-stop(50%, var(--initialBgColor)),
    color-stop(50%, var(--slideBgColor)),
    to(var(--slideBgColor))
  );

  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--initialBgColor)),
    color-stop(50%, var(--initialBgColor)),
    color-stop(50%, var(--slideBgColor)),
    to(var(--slideBgColor))
  );

  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--initialBgColor)),
    color-stop(50%, var(--initialBgColor)),
    color-stop(50%, var(--slideBgColor)),
    to(var(--slideBgColor))
  );

  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--initialBgColor)),
    color-stop(50%, var(--initialBgColor)),
    color-stop(50%, var(--slideBgColor)),
    to(var(--slideBgColor))
  );

  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--initialBgColor)),
    color-stop(50%, var(--initialBgColor)),
    color-stop(50%, var(--slideBgColor)),
    to(var(--slideBgColor))
  );

  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--initialBgColor)),
    color-stop(50%, var(--initialBgColor)),
    color-stop(50%, var(--slideBgColor)),
    to(var(--slideBgColor))
  );

  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--initialBgColor)),
    color-stop(50%, var(--initialBgColor)),
    color-stop(50%, var(--slideBgColor)),
    to(var(--slideBgColor))
  );

  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--initialBgColor)),
    color-stop(50%, var(--initialBgColor)),
    color-stop(50%, var(--slideBgColor)),
    to(var(--slideBgColor))
  );

  background-image: -webkit-gradient(
    linear,
    left top, right top,
    from(var(--initialBgColor)),
    color-stop(50%, var(--initialBgColor)),
    color-stop(50%, var(--slideBgColor)),
    to(var(--slideBgColor))
  );

  background-image: linear-gradient(
    90deg,
    var(--initialBgColor) 0%,
    var(--initialBgColor) 50%,
    var(--slideBgColor) 50%,
    var(--slideBgColor) 100%
  );

  -webkit-background-size: 200% 200%;
  -moz-background-size: 200%;
  -o-background-size: 200%;
  background-size: 200%;

  -webkit-transition: background-position 0.3s cubic-bezier(0.47, 0.1, 1, 0.63), color 0.2s linear;
  -o-transition: background-position 0.3s cubic-bezier(0.47, 0.1, 1, 0.63), color 0.2s linear;
  -moz-transition: background-position 0.3s cubic-bezier(0.47, 0.1, 1, 0.63), color 0.2s linear;
  transition: background-position 0.3s cubic-bezier(0.47, 0.1, 1, 0.63), color 0.2s linear;

  -webkit-transition-delay: 0s, 0.15s;
  -moz-transition-delay: 0s, 0.15s;
  -o-transition-delay: 0s, 0.15s;
  transition-delay: 0s, 0.15s;
}

/*
  This styles what the links look like when you are about to click on them 
  theyy will chang colors
*/

nav a:hover,
nav a:focus {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  /* Code below sourced from https://www.kirupa.com/html5/sliding_background_effect_on_link_hover.htm */
  color: var(--slideTextColor);
  cursor: pointer;
  background-position: -100% 100%;

  /*
    This styles the navgash bare at the top the color, placement
  */
}

.first-images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 5%;
}

/*
  This styles what the boxs around the texts look like 
*/

/*
  This  styles the heading of the webpage color,plaement, and space
*/
h2 {
  text-align: center;
  font-size: 45px;
  font-size: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #1a1a1a;
}

p {
  position: relative;
  width: 80%;
  background-color: #faf4ef;
  margin-bottom: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 5px;
  text-align: center;
  font-size: 2.1rem;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  -moz-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
ul {
  list-style-type: none;
}

li {
  font-size: 20px;
}
/*
  This gives space in bye the footer so it is not at the edge of the webpage
*/
footer {
  margin-top: 2%;
  padding-left: 1%;
}

/*
  This is a flex box it make you webpage go into column in seed of rows
  
*/

section {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/*
  This is a box shadow it make the box look 3D and make it pop from the background
*/
section img {
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  -moz-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 20px;
}
